#mobMenuButton
{
    display: none;
    width: 37px;
    height: 37px;
    border-radius: 5px;
    background-color: #0D5746;
    position: absolute;
    z-index: 7;
    right: 15px;
    top: 13px;
    background-image: url(imgeler/mobil-menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
/*mob menu*/
#mobMenuContainer
{
    display: none;
    background-color: #222222;
    width: 80%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    overflow: hidden;
    box-shadow: inset 8px 0px 15px -5px #000000;
    padding-bottom: 150px;
}
#mobMenuContainer UL, #mobMenuContainer UL LI
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#mobMenuContainer UL LI A:link, #mobMenuContainer UL LI A:visited
{
    display: block;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #111111;
    color: #B7B7B7;
    padding: 8px 5px 8px 15px;
    height: 100%;
    position: relative;
}
#mobMenuContainer LI A .handle
{
    display: block;
    float: right;
    width: 50px;
    font-size: 30px;
    padding: 0px;
    line-height: 1.2;
    color: #626262;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    /*[empty]position:;*/
    border-left: 1px solid #282828;
}
#mobMenuContainer UL LI UL
{
    background-color: #1B1B1B;
    box-shadow: inset 0px 0px 5px #000000;
}
#mobMenuContainer UL LI UL UL
{
    background-color: #151515;
    box-shadow: inset 0px 0px 5px #000000;
}
#mobMenuContainer UL LI UL A:link
{
    padding-left: 30px;
}
#mobMenuContainer UL LI UL UL A:link
{
    padding-left: 50px;
}
#mobMenuContainer .mob-login
{
    padding: 25px 10px 35px 15px;
    color: #FFFFFF;
    font-size: 0.8em;
}
#mobMenuContainer .mob-login A
{
    font-size: 1.3em;
}
#mobMenuContainer .mob-login .logout
{
    background-color: #7D2828;
    border: 1px solid #AF1616;
}
#mobMenuContainer .mob-login .user-acts
{
    float: right;
}
#mobMenuContainer .layout-switch A
{
    display: block;
    margin: 25px 0 0;
    text-align: right;
    background-color: #000000;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding-right: 20px;
}
#mobMenuContainer .layout-switch .desktop:before
{
    content: "\e6b4  \e6c6  \e6b3";
    color: #B2B2B2;
    font-size: 30px;
    font-family: icomoon;
    line-height: 150%;
}
/*small Device*/
@media (max-width: 768px)
{
    /* rows and cells*/
    .columns.fluid .col1, .columns.fluid .col2, .columns.fluid .col3, .columns.fluid .col4, .columns.fluid .col5, .columns.fluid .col6, .columns.fluid .col7, .columns.fluid .col8, .columns.fluid .col9, .columns.fluid .col10, .columns.fluid .col11, .columns.fluid .col12
    {
        width: auto;
        float: none;
        margin: 2em 0 2em 0;
    }
    /*layouts*/
    .stage .stage-0, .stage .stage-1
    {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        border-left: none;
        border-right: none;
    }
    .stage .stage-0 > .body, .stage .stage-1 > .body
    {
        width: auto;
    }
    UL.sub-page-list > LI.box
    {
        width: auto;
        float: none;
        margin: 5px 0 1em 0;
    }
    UL.sub-page-list > LI.box-spot
    {
        width: auto;
        float: none;
        margin: 5px 0 1em 0;
    }
    UL.sub-page-list > LI.box-large
    {
        width: auto;
        float: none;
        margin: 1px 0;
    }
    INPUT, TEXTAREA, SELECT
    {
        max-width: 100%;
    }
    .notifierBox
    {
        max-width: 100%;
        width: 100%;
        min-width: 0;
    }
}
/*  medium device */
@media (min-width: 768px) and (max-width: 979px)
{
}
/* small + medium device */
@media (max-width: 979px)
{
    .stage
    {
        width: 100%;
    }
    .stage .body TABLE, .stage .body .columns TABLE
    {
        max-width: 100% !important;
        box-sizing: border-box;
        display: block;
    }
    .stage .body IMG
    {
        max-width: 99.9%;
    }
}
/**
Device visibility
**/
.visible-phone
{
    display: none !important;
}
.visible-tablet
{
    display: none !important;
}
.hidden-desktop
{
    display: none !important;
}
.visible-desktop
{
    display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px)
{
    .hidden-desktop
    {
        display: inherit !important;
    }
    .visible-desktop
    {
        display: none !important;
    }
    .visible-tablet
    {
        display: inherit !important;
    }
    .hidden-tablet
    {
        display: none !important;
    }
}
@media (max-width: 767px)
{
    .hidden-desktop
    {
        display: inherit !important;
    }
    .visible-desktop
    {
        display: none !important;
    }
    .visible-phone
    {
        display: inherit !important;
    }
    .hidden-phone
    {
        display: none !important;
    }
}
