<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="card-title pageHeader" style="float:left"></h4>
                        <a id="formOpenButton">
                            <h4 class="card-title" style="float:right;cursor:pointer" data-toggle="modal" data-target="#editModal" onclick="setFormId(0)"><i class="fa fa-plus"></i> Ekle</h4>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <table id="datatable" class="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>