@{
    Layout = null;
}
<!DOCTYPE html>
<!-- FilWEB CMS. Developed by Fil Bilişim Sistemleri www.filbilisim.com -->
<html lang="tr" class="lang-tr">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=0.4, user-scalable=1" />

    <title>Kasaroğlu Hukuk Bürosu</title>
    <meta charset="utf-8">
    <meta name="description" content="Kasaroğlu Hukuk Bürosu">
    <meta name="keywords" content="Kasaroğlu Hukuk Bürosu. Kasaroğlu Hukuk Bürosu">
    <meta name="author" content="Kasaroğlu Hukuk Bürosu">
    <meta name="robots" content="all,follow" />

    <!-- Twitter Card data
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="http://www.kasaroglu.av.tr/tr/"/>
    <meta name="twitter:title" content="Kasaroğlu Hukuk Bürosu">
    <meta name="twitter:description" content="Kasaroğlu Hukuk Bürosu">
    -->
    <!-- Open Graph data
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Kasaroğlu Hukuk Bürosu"/>
    <meta property="og:title" content="Kasaroğlu Hukuk Bürosu"/>
    <meta property="og:description" content="Kasaroğlu Hukuk Bürosu"/>
    <meta property="og:url" content="http://www.kasaroglu.av.tr/tr/"/>-->
    <!-- google
        <meta itemprop="name" content="Kasaroğlu Hukuk Bürosu"/>
        <meta itemprop="description" content="Kasaroğlu Hukuk Bürosu"/>
            <link rel="canonical" href="http://www.kasaroglu.av.tr/tr/"/>
    -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

    <script type="text/javascript">
        window.appBase = "";
        window.baseUrl = "/tr";
        window.theme = "kasaroglu";
        window.lang = "tr";
        window.isHome = true
    </script>
    <script type="text/javascript" src="~/scripts/mootools-1.5.2.js?fw0b5hzz08"></script>
    <script type="text/javascript" src="~/scripts/history/history.js?fw0b5hzz08"></script>
    <script type="text/javascript" src="~/scripts/MenuMatic.js?fw0b5hzz08"></script>
    <script type="text/javascript" src="~/scripts/fil.js?fw0b5hzz08"></script>
    <script type="text/javascript" src="~/scripts/init.front.js?fw0b5hzz08"></script>
    <script type="text/javascript" src="~/Themes/kasaroglu/theme.js?fw0b5hzz08"></script>
    <script type="text/javascript" src="~/scripts/fil/responsive.js?fw0b5hzz08"></script>
    <link rel="stylesheet" href="~/Themes/kasaroglu/normalize.css?fw0b5hzz08" media="all" />
    <link rel="stylesheet" href="~/Themes/kasaroglu/base.css?fw0b5hzz08" media="all" />
    <link rel="stylesheet" href="~/Themes/kasaroglu/theme.css?fw0b5hzz08" media="all" />
    <link rel="stylesheet" href="~/Themes/kasaroglu/MenuMatic.css?fw0b5hzz08" media="all" />
    <link rel="stylesheet" href="~/Themes/_icons/icomoon/style.css?fw0b5hzz08" media="all" />
    <link rel="stylesheet" href="~/Themes/kasaroglu/base-resp.css?fw0b5hzz08" media="all" />
    <link rel="stylesheet" href="~/Themes/kasaroglu/theme-resp.css?fw0b5hzz08" media="all" />
    <link rel="stylesheet" href="~/Themes/kasaroglu/subversion-wide.css?fw0b5hzz08" media="all" />
    <link rel="stylesheet" href="~/Modules/Haber/Views/theme/default.css?fw0b5hzz08" media="all" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110806494-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-110806494-2');
    </script>

</head>

<body class="Sayfa-default home fw-front">

    <a href="#mainContent" class="skipToPagePart">İçeriğe Atla</a>
    <a href="#siteMainMenu" class="skipToPagePart">Menüye Atla</a>
    <style>
        .skipToPagePart {
            position: absolute;
            top: -1000px;
            z-index: 100000
        }

            .skipToPagePart:focus {
                top: 0
            }
    </style>

    <div id="wrapper" class="wrap-B">

        <div id="wrapper-content">
            <div id="pbody">
                <div id="top">
                    <div class="pre-top">
                        <div class="wrap">
                            <div class="body">
                                <section class="node-content">
                                    <div style="z-index: 10001; position: relative;">
                                        <p>
                                            <a href="https://www.facebook.com/Kasaro%C4%9Flu-Hukuk-B%C3%BCrosu-1547102035508323/" target="_blank" rel="noopener">
                                                <em class="icon-facebook3 "
                                                    style="font-size: 18px;">
                                                    <!--icon-->
                                                </em>
                                            </a>
                                            <a href="https://www.instagram.com/kasarogluhukuk/" target="_blank" rel="noopener">
                                                <em class="icon-instagram " style="font-size: 18px;">
                                                    <!--icon-->
                                                </em>
                                            </a> <span style="font-size: 18px;">
                                                <a href="https://tr.linkedin.com/company/kasaroğlu-law-office"
                                                   target="_blank" rel="noopener">
                                                    <em class="icon-linkedin ">
                                                        <!--icon-->
                                                    </em>
                                                </a>
                                            </span> | <em class="icon-phone2 " style="vertical-align: middle; font-size: 18px;">
                                                <!--icon-->
                                            </em> +90 312 428 40 82
                                        </p>
                                    </div>
                                    <style>
                                        .pre-top a {
                                            color: #fff !important;
                                            margin: 0;
                                            display: inline-block;
                                        }

                                        .pre-top p {
                                            margin: 0;
                                            margin-top: -4px;
                                        }
                                    </style>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="mob-menu">
                            <div id="mobMenuButton"></div>
                            <div id="mobMenuContainer"></div>
                        </div>
                        <div class="logo-overlay">
                            <a href="/tr/"><img src="~/Themes/kasaroglu/imgeler/logo.png" alt="logo" /></a>
                        </div>
                        <div class="site-title">Kasaroğlu Hukuk Bürosu</div>

                        <div id="flags">
                            <div class="text">
                                <div class="body">
                                    <span class="active">
                                        <a href="/tr" title="Türkçe">
                                            TR
                                        </a>
                                    </span><span>
                                        <a href="/en" title="English (İngilizce)">
                                            EN
                                        </a>
                                    </span>
                                </div>
                            </div>

                            <div class="site-search-wrap">
                                <div class="search site-search" data-type="">
                                    <form action="/tr/Home:Search/arama/" method="GET">
                                        <input type="text" value="Arama" class="text" name="q">
                                        <input type="submit" class="ara" value="Ara ">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="navi-wrap">
                            <div class="navi">
                                <div class="navi_top"></div>
                                <nav class="navi_body">
                                    <ul class="menulist" id="siteMainMenu">
                                        <li>
                                            <a href="~/tr/27898/Hakkimizda" data-tip="Sayfa:default">

                                                <i class=""></i>
                                                <span>Hakkımızda</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/tr/27910/Faaliyet-Alanlari" data-tip="Sayfa:default">

                                                <i class=""></i>
                                                <span>Faaliyet Alanları</span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/tr/27911/Enerji-Su-ve-Tabii-Kaynaklar" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>Enerji, Su ve Tabii Kaynaklar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/insaat-hukuku-ve-insaat-davalari" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>İnşaat Hukuku</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/27913/Telekomunikasyon" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>Telekomünikasyon</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/27914/Savunma-Sanayi-Projeleri" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>Savunma Sanayi Projeleri</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/27915/Proje-Finansmani" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>Proje Finansmanı</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/27918/Ticaret-Hukukuna-Iliskin-Islemler" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>Ticaret Hukukuna İlişkin İşlemler</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/27919/Yabanci-Yatirim" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>Yabancı Yatırım</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/27920/Rekabet-Hukuku" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>Rekabet Hukuku</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/27921/Fikri-Mulkiyet-Hukuku" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>Fikri Mülkiyet Hukuku</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/27922/Is-Hukuku" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>İş Hukuku</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/27923/Yargilama-ve-Tahkim" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>Yargılama ve Tahkim</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/28763/Gayrimenkul-Hukuku" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>Gayrimenkul Hukuku</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/tr/28107/Ortaklar" data-tip="Avukatlar:grup">

                                                <i class=""></i>
                                                <span>Ortaklar</span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/tr/28108/Yalcin-Kasaroglu-Kurucu-Ortak" data-tip="Avukatlar:default">

                                                        <i class=""></i>
                                                        <span>Yalçın Kasaroğlu (Kurucu Ortak)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/28109/Hikmet-Kasaroglu-Yonetici-Ortak" data-tip="Avukatlar:default">

                                                        <i class=""></i>
                                                        <span>Hikmet Kasaroğlu (Yönetici Ortak)</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/28110/Pinar-Iskender-Erkut-Ortak" data-tip="Avukatlar:default">

                                                        <i class=""></i>
                                                        <span>Pınar İskender Erkut (Ortak)</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/tr/27985/Yayinlar" data-tip="Haber:grup">

                                                <i class=""></i>
                                                <span>Yayınlar</span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/tr/27986/Ticaret-Hukuku" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>Ticaret Hukuku</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/28000/Borclar-Hukuku" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>Borçlar Hukuku</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/28022/Is-Hukuku" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>İş Hukuku</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/28023/Enerji-ve-Madencilik-Hukuku" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>Enerji ve Madencilik Hukuku</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/28024/Yabancilar-Hukuku" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>Yabancılar Hukuku</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/32954/Savunma-Sanayi" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>Savunma Sanayi</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/32956/Kamu-Ihaleleri-ve-Sozlesmeleri" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>Kamu İhaleleri ve Sözleşmeleri</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/32955/Insaat-Hukuku" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>İnşaat Hukuku</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/32952/Kisisel-Verilerin-Korunmasi" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>Kişisel Verilerin Korunması</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/32957/Yabanci-Yatirimlar" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>Yabancı Yatırımlar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/38297/Gayrimenkul-Hukuku" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>Gayrimenkul Hukuku</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/32951/Diger" data-tip="Haber:grup">

                                                        <i class=""></i>
                                                        <span>Diğer</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/tr/27969/Haberler" data-tip="Haber:grup">

                                                <i class=""></i>
                                                <span>Haberler</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/tr/28036/Iletisim" data-tip="Sayfa:default">

                                                <i class=""></i>
                                                <span>İletişim</span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/tr/bize-ulasin" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>Ofislerimiz</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/38082/Iletisim-Formu" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>İletişim Formu</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/tr/27945/Insan-Kaynaklari" data-tip="Sayfa:default">

                                                        <i class=""></i>
                                                        <span>İnsan Kaynakları</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="navi_bot"></div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            window.addEvent('domready', function () {

                                try {
                                    window.siteMainMenu = new MenuMatic({
                                        id: "siteMainMenu"
                                    });
                                } catch (err) {
                                    console.warn("Disabled: Menumatic. MN-MM-01");
                                }

                            });
                        </script>

                        <div class="law-logo">
                            <a href="http://www.lawyersworldwide.com/" target="_blank"></a>
                        </div>
                    </div>
                </div>

                <div id="content">
                    @RenderBody()
                </div>
                <!--content-->
            </div>
            <!-- pbody -->
        </div>
        <!-- wrapper-content -->
        <div class="share-box">
            <div class="body">
                <div class="tools-A">
                    <a class="page-to-home" href="/tr/"><i></i> Ana Sayfa</a>
                    <a class="page-to-top" href="#pbody"><i></i> Başa Dön</a>
                    <a class="page-share" href="#"><i></i> Paylaş</a>
                </div>
                <div>
                    <div class="addthis_toolbox addthis_inline_share_toolbox"></div>
                </div>
            </div>
        </div>
        <!-- <script async type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ba36d5cb12baa2b"></script> -->
        <script type="text/javascript">
            window.addEvent('domready', function () {

                $$('.addthis_toolbox').set('slide', {
                    mode: 'horizontal'
                });
                $$('.addthis_toolbox').slide('hide');
                $$('.page-share').addEvent('click', function (e) {
                    e.stop();
                    Fil.loadScriptAssets(['http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ba36d5cb12baa2b'], function () {
                        $$('.addthis_toolbox').slide('toggle');
                    })
                })
            })
        </script>

        <div id="footer">
            <div class="body">
                <div class="content">
                    <section class="node-content">
                        <div class="gle-logo">
                            <p>
                                <a href="http://www.globallawexperts.com/" target="_blank" rel="noopener"><img src="~/upload/Node/27962/pics/gle-logo.jpg" alt="gle logo" /></a>
                            </p>
                        </div>
                        <p>
                            <span style="font-size: 0.9em;">
                                Bu web sitesi ve içindeki bilgiler, Türkiye Barolar
                                Birliği'nin Meslek Kurallarına ve özellikle reklam yasağına uygun şekilde
                                tasarlanmıştır. Kasaroğlu web sitesinin içinde yer alan tüm bilgi ve materyaller sadece
                                bilgilendirme olup, bunların tamamına veya bir kısmına dayanılarak yapılan işlemlere,
                                eylemlere ve bunların sonuçlarına ilişkin hiçbir sorumluluk kabul edilmez. Söz konusu
                                bilgilerin aktarılması ile hiçbir şekilde kullanıcılar ve web tarayıcıları ile Kasaroğlu
                                arasında bir avukat-müvekkil ilişkisi yaratılması amaçlanmamıştır ve bilgilerin bu
                                kişilerce alınması hiçbir şekilde bu yönde bir ilişki oluşturmayacaktır. Müvekkiller
                                veya okuyucular hiçbir şekilde, mevcut duruma ve özelliklerine ilişkin olarak uygun
                                hukuki veya başka herhangi bir profesyonel görüş almadan, Kasaroğlu web sitesinde yer
                                alan herhangi bir hususa dayanarak bir eylemde bulunmamalıdır. Kasaroğlu, bu web sitesi
                                aracılığıyla ulaşılan üçüncü kişilere ait içeriklerden hiçbir şekilde sorumlu
                                değildir.
                            </span>
                        </p>
                        <p>
                            Şirket Birleşme ve Devralmalarında yoğun olarak hizmet veren Kasaroğlu Hukuk Bürosu’nun en önemli çözüm ortağı, bu alandaki tecrübe ve bilgi birikimi ile “<a href="http://www.hikadanismanlik.com.tr/" target="_blank" rel="noopener">
                                Kasaroğlu
                                Uluslararası Danışmanlık Hizmetleri A.Ş’dir
                            </a>”.
                        </p>
                        <style>
                            <!-- .gle-logo {
                                float: right;
                                margin-left: 1em;
                            }

                            -->
                        </style>
                    </section>
                </div>
                <div class="filweb">
                    <p>
                        FilWEB © Tüm hakları saklıdır. <a href="http://www.filbilisim.com" target="_blank">
                            Fil Bilişim
                            Web Tasarım Ankara
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="extra01"></div>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,300,300italic,400italic,500,500italic,600,600italic,700,700italic&amp;subset=latin,latin-ext" type="text/css" />
    <style>
        BODY {
            font-family: "Raleway", arial, sans-serif
        }

        #wrapper-content {
            background-color: #cccccc
        }
    </style>

    @RenderSection("Scripts", required: false)

</body>

</html>
