@model bool

<div class="site-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="section-title mb-5">
                    <h2>İletişim</h2>
                </div>
                <form method="post" enctype="application/x-www-form-urlencoded">
                    @if(Model){
                    <div class="alert alert-success">Başarılı! Mesajınız Gönderildi.</div>
                    }
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="AdSoyad">Ad Soyad</label>
                            <input type="text" id="AdSoyad" name="AdSoyad" class="form-control form-control-lg">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="Eposta">Eposta</label>
                            <input type="text" id="Eposta" name="Eposta" class="form-control form-control-lg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="Konu">Konu</label>
                            <input type="text" id="Konu" name="Konu" class="form-control form-control-lg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="Aciklama">Mesaj</label>
                            <textarea name="Aciklama" id="Aciklama" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">
                        </div>
                    </div>

                </form>
            </div>

        </div>


    </div>
</div>