@model bool
 <script src="https://www.google.com/recaptcha/api.js"></script>

<!--=====================================
=            Address and Map            =
======================================-->
<title>@Html.Raw(TemaYonetimi.Find("iletisimtitle","iletisimtitle"))</title>
<section class="address">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 align-self-center">
				<div class="block">
					<div class="address-block text-center mb-5">
						<div class="icon">
							<i class="ti-mobile"></i>
						</div>
						<div class="details">
							@Html.Raw(TemaYonetimi.Find("iletisimtelefon","<h3>(90) 789 456 7890 (USA)</h3><h3>(88) 016 725 0455 (UK)</h3>"))
						</div>
					</div>
					<div class="address-block text-center">
						<div class="icon">
							<i class="ti-map-alt"></i>
						</div>
						<div class="details">
							@Html.Raw(TemaYonetimi.Find("iletisimadres","<h3>36. St Michael’s St, Oxford OX1, UK</h3><h3>123, Ankara, Türkiye</h3>"))
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-7 mt-5 mt-lg-0">
				<div class="google-map">
					<!-- Google Map -->
<div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="@Html.Raw(TemaYonetimi.Find("iletisimharitasrc","https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=ankara%20t%C3%BCrkiye+(ankara)&amp;t=k&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"))"><a href="http://www.gps.ie/">gps devices</a></iframe></div>				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Address and Map  ====-->
<section class="contact-form section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="mb-5 text-center">Mail Gönderin</h2>
			</div>
			<div class="col-12">
                                    <form action="/iletisim/kaydet" onsubmit="send(this);return false;">
					<div class="row">
						<!-- Name -->
						<div class="col-md-6 mb-2">
							<input class="form-control main" type="text" placeholder="Ad Soyad" name="AdSoyad" required>
						</div>
						<!-- Email -->
						<div class="col-md-6 mb-2">
							<input class="form-control main" type="email" placeholder="Eposta" name="Eposta" required>
						</div>
						<!-- Message -->
						<div class="col-md-12 mb-2">
							<textarea class="form-control main" rows="10" placeholder="Mesajınız" name="Aciklama"></textarea>
						</div>
						<!-- Submit Button -->
						<div class="col-12 text-right">
							<button 
							class="btn btn-main-md g-recaptcha" 
        data-sitekey="6LfJfO4cAAAAADWA77mXDznaIe8kww4J_IoSSPU_" 
        data-callback='onSubmit' 
        data-action='submit'
>Gönder</button>

						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

@section Scripts
{

	 <script>
	//6LdcM-0cAAAAANV-fqUQ2P5TVxNQJB1DDCXkzWo1
   function onSubmit(token) {
     document.getElementById("demo-form").submit();
   }
                async function send(oFormElement){
                        const formData = new FormData(oFormElement);
                    
                        try {
                            const response = await fetch(oFormElement.action, {
                                method: 'POST',
                                body: formData
                            });
                    
                            if (response.ok) {
                                alert("Başarılı! Mesajınız alındı.")
                            }
                    
                        } catch (error) {
                            console.error('Error:', error);
                        }
                }
    </script>
}
