@{
    ViewData["Title"] = "Home Page";
}

    <div class="stage layout-B">
        <div class="stage-body">

            <div class="stage-1">
                <div class="body">
                    <section class="node-content">
                        <section class="homebanner">
                            <div class="con">
                                <p class="headline">
                                    <strong>Kasaroğlu Hukuk Bürosu,</strong>
                                    <br />1967 yılında kurulmuştur. Ankara’da faaliyet gösteren ve ağırlıklı olarak çok uluslu şirketlere butik konsepte hizmet veren bir bürodur. Büromuz, alanında uzman kadrosu ile hem danışmanlık hem de dava takibi hizmetleri sunmaktadır.
                                </p>
                                <p style="margin-top: 2em;">
                                    <a class="buttonX" href="/tr/27910/Faaliyet-Alanlari">
                                        Faaliyet Alanları <em class="icon-arrow-right5 " style="font-size: 14px;">
                                            <!--icon-->
                                        </em>
                                    </a>
                                </p>
                            </div>
                        </section>
                        <link href="~/homebanner.css" rel="stylesheet" />

                    </section>
                </div>
                <div class="clear"></div>
                <div class="bot"></div>
            </div>
            <div class="stage-sep">
                <div class="body"></div>
            </div>
            <div class="stage-0">
                <div class="body">
                    <div id="mainContent"></div>
                    <section class="node-content">
                        <div style="max-width: 890px; margin: auto;">
                            <h1 style="text-align: center;">YAKLAŞIM</h1>
                            <p class="headline" style="text-align: center;">
                                Bizim yaklaşımımız müvekkillerimizin gerçek ihtiyaçlarını ve amaçlarını tespit etmek üzerine odaklanmakta ve onlara sunduğumuz kaliteli ve hızlı hizmet sayesinde müvekkillerimizle olan ilişkilerimizin uzun süreli ve kalıcı olmasını sağlamaktadır. <span style="font-size: 10pt;">
                                    <a href="/tr/28037/">Devamı</a>
                                </span>
                            </p>
                        </div>
                        <p><span class="page-break"></span></p>
                        <section>
                            <div class="columns fluid brick">
                                <div class="col4">
                                    <p><img src="~/upload/Node/27960/pics/hakkimizda2.jpg" alt="hakkımızda" /></p>
                                    <h3><a href="/tr/27898/Hakkimizda">HAKKIMIZDA</a></h3>
                                </div>
                                <div class="col4">
                                    <p><img src="~/upload/Node/27960/pics/yayinlar2.jpg" alt="yayinlar" /></p>
                                    <h3><a href="/tr/27985/Yayinlar">YAYINLAR</a></h3>
                                </div>
                                <div class="col4">
                                    <p><img src="~/upload/Node/27960/pics/faaliyet2.jpg" alt="faaliyet" /></p>
                                    <h3><a href="/tr/27910/Faaliyet-Alanlari">FAALİYET ALANLARI</a></h3>
                                </div>
                            </div>
                        </section>
                        <p> <span class="page-break"></span></p>
                        <h1 style="text-align: center;">HABERLER</h1>
                        <div style="max-width: 1140px; margin: auto;">
                            <p>
                                <div class="duyuru-box">
                                    <div class="duyuru-item">
                                        <div class="t">
                                            <h5>
                                                <a href="/tr/39736/Veri-Sorumlulari-Siciline-Kayit-Surelerinin-Uzatilmasina-Karar-Verildi">
                                                    Veri
                                                    Sorumluları Siciline Kayıt Sürelerinin Uzatılmasına
                                                    Karar Verildi
                                                </a>
                                            </h5>
                                            <span class="date">11 Eylül 2019</span>
                                        </div>
                                    </div>
                                    <div class="duyuru-item">
                                        <div class="t">
                                            <h5>
                                                <a href="/tr/39057/Konkordato-Surecine-Iliskin-Video-Serimizin-Ikinci-Videosu-Yayinlandi">
                                                    Konkordato Sürecine İlişkin Video Serimizin İkinci
                                                    Videosu Yayınlandı
                                                </a>
                                            </h5>
                                            <span class="date">29 Nisan 2019</span>
                                        </div>
                                    </div>
                                    <div class="duyuru-item">
                                        <div class="t">
                                            <h5>
                                                <a href="/tr/38862/Konkordato-Surecine-Iliskin-Video-Serimizin-Ilk-Videosu-Yayinlandi">
                                                    Konkordato
                                                    Sürecine İlişkin Video Serimizin İlk Videosu
                                                    Yayınlandı
                                                </a>
                                            </h5>
                                            <span class="date">05 Nisan 2019</span>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear: both;">
                                    <!-- clear -->
                                </div>
                            <p style="clear: both; text-align: center; margin-top: 2em;">
                                <a href="/tr/27969/Haberler">
                                    <em class="icon-file "
                                        style="font-size: 20px; vertical-align: middle;">
                                        <!--icon-->
                                    </em> Tüm Haberler
                                </a>
                            </p>
                        </div>
                    </section>

                </div>
                <div class="clear"></div>
                <div class="bot"></div>
            </div>
            <div class="clear"></div>
            <div class="stage-bot"></div>
        </div>
    </div>