@section Styles{
<link href="~/assets/plugins/summernote/summernote.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">İçerik </h4>

                <form id="wordForm" method="post" action="/Icerik/WordToHtml" enctype="multipart/form-data">
                    <label for="wordfile">Word File</label>
                    <input class="form-control" type="file" name="wordfile" id="wordfile" />
                    <button class="btn btn-primary">Aktar</button>
                </form>

                <form id="editModalForm">

                    <div id="editModalRow"></div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
<script src="~/assets/plugins/summernote/summernote.js"></script>
<script src="~/assets/js/url_slug.min.js"></script>
<script>

    wordToHtml = async (e) => {
        e.preventDefault();
        Swal.showLoading();
        var oFormElement = e.target;
        const formData = new FormData(oFormElement);

        try {
            const response = await fetch(oFormElement.action, {
                method: 'POST',
                body: formData
            })
            const responseJson = await response.json();
            if (responseJson.success) {
                swal.close()
                $('#summernote').summernote('code', responseJson.data);
            }

        } catch (error) {
            console.error('Error:', error);
        }
    }
    $('#wordForm').on('submit', wordToHtml)

    pageInit({
        url: '/Icerik/Ekle',
        name: 'Yazı Ekle',
        parentname: 'Yazı Yönetimi',
        saveurl: '/Icerik/Kaydet',
        formsubmittype: 'formdata',
        customsuccessfun: 'window.location="/Icerik/Liste"',
        form: [
            {
                type: 'input',
                html: true,
                hidden: true,
                id: 'id',
            },
            {
                type: 'input',
                id: 'baslik',
                name: 'Başlık',
                onchange: "$('#url').val(url_slug(this.value))"
            },
            {
                type: 'input',
                subtype: 'file',
                id: 'resimfile',
                name: 'Resim'
            },
            {
                type: 'textarea',
                id: 'giris',
                name: 'Giris'
            },
            {
                type: 'html',
                name: 'İçerik',
                html: '<div class="row"><div class="col-md-12"><textarea id="summernote" name="icerik" style="height: 500px;"></textarea></div></div>'
            },
            {
                type: 'input',
                html: true,
                hidden: true,
                id: 'icerik',
            },
            {
                type: 'select',
                id: 'menuId',
                name: 'Menu',
                ajax: '/Menu/Liste',
                text: 'isim',
                style: 'width: 30%;float: left;margin-left: 5px;',
                required: true,
            },

            {
                type: 'date',
                id: 'yayinlanmaTarihi',
                name: "Yayınlanma Tarihi",
                style: 'width: 30%;float: left;margin-left: 5px;',
                value: formatDateLocate(new Date().toISOString())
            },
            {
                type: 'input',
                id: 'url',
                name: 'Özel Adres',
                maxLength: 250,
                style: 'width: 30%;float: left;margin-left: 5px;',
            },
        ]
    });
    setTimeout(() => {

        $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
        loadPage();
        if (window.location.pathname.toLowerCase().match('duzenle')) {
            fetch(window.location.pathname.toLowerCase().replace('duzenle', 'bul'))
                .then(res => res.json())
                .then(res => {
                    console.log(res);
                    $('#id').val(res.data.id);
                    $('#baslik').val(res.data.baslik);
                    $('#giris').val(res.data.giris);
                    $('#summernote').summernote('code', res.data.icerik)
                    $('#menuId').val(res.data.menuId).change();
                    $('#yayinlanmaTarihi').val(res.data.yayinlanmaTarihi);
                    $('#url').val(res.data.url);
                })
        }
    }, 1000)


</script>
}